/*pseudo clases*/
ol li:first-child{
    color: red;
}
ol li:last-child{
    color: green;
}
td{
    border: 1px solid black;
    padding: 10px;
}
tr:nth-child(odd){
    background-color: red;
}
tr:nth-child(even){
    background-color: brown;
}
p:nth-child(even){
    background-color: salmon;
}